body{
    font-family: fantasy;
}

h1 {
    text-align: center;
    font-size: 4em;
    padding-top: 0.5em;
}

p{
    font-family: sans-serif;
    text-align: center;
}

.btn{
    border-color: firebrick;
    background-color: dimgray;
    color: azure;
}

.form-control{
    height: 75px;
    border-color: firebrick;
    font-size: 20px;
}

.list-group-item{
    color: azure;
    background-color: dimgray;
    border-color: firebrick;
    
    text-align: center;
    font-size: 30px;
    width: 350px;
}

.btn-1{
    border-color: firebrick;
    background-color: dimgray;
    color: azure;
    width: 10em;
}

.btn-2{
    border-color: firebrick;
    background-color: dimgray;
    color: azure;
    width: 350px;
    height: 75px;
}

a{
    font-size: 1.5em;
    color: azure;
}
