body {
    background-image: url(images/home.jpg);
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    text-align: center;
    font-size: 4em;
    font-family: fantasy;
    padding-top: 2.5em;
    color: firebrick;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

a{
    font-size: 3em;
    color: White;
}

.btn-2{
    border-color: firebrick;
    background-color: dimgray;
    color: azure;
    width: 350px;
    height: 150px;
}