h1 {
    text-align: center;
    font-size: 4em;
    font-family: fantasy;
    padding-top: 0.5em;
}

p{
    text-align: center;
}

/*
.container{
    background-color: red;
}
*/

.list-group-item{
    color: azure;
    background-color: dimgray;
    border-color: firebrick;
    
    text-align: center;
    font-size: 30px;
    width: 350px;
}

button{
    width: 10em;
}